
 body {
  background: rgb(237, 241, 244) !important;
 }

 .navbar {
  background-color:  #4c7c20;
 }

ul li a, a.navbar-brand {
  color: #ffffff;
}

a.navbar-brand:hover {
  color: #d9d9d9;
}

ul.nav li:focus {
  background-color: red !important;
}


li.item-link {
  display: inline-block;
  text-decoration: none;
  height: 40px;
  margin: 5px;
}

a.reg-item {
  display: block;
  text-decoration: none;
  height: 30px;
  margin: 5px 0;
  line-height: 30px;
  font-family: sans-serif;
  font-size: 16px;

}

table th, td{
  text-align: center;
}

tr:hover a.reg-item{
  font-size: 30px;
}

.topnav-item {
  font-weight: 500;
  cursor: pointer;
}


.register-time {
  width: auto;
  font-family: 'Open Sans', 'Helvetica Nueue', Helvetica, Arial, sans-serif;
  font-size: 2.0rem;
}

section.register {
  position: relative;
  display: block;
  height: 100px;
  border: 1px solid #f7f8f9;
  padding: 0 !important;
  text-align: center;
  margin-bottom: 8px;
  
}

.text-animate {
 -webkit-transition: font-size 0.1s ease, background-color 0.1s ease;
  -moz-transition: font-size 0.1s ease, background-color 0.1s ease;
  -o-transition: font-size 0.1s ease, background-color 0.1s ease;
  -ms-transition: font-size 0.1s ease, background-color 0.1s ease;
  transition: font-size 0.1s ease, background-color 0.1s ease;
}



.reg-id {
  position: absolute;
  font-size: 1.2em;
  top: 0;
  height: 30%;
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid rgb(237, 241, 244);
}

.reg-val {
  position: absolute;
  bottom: 0;
  height: 70%;
  width: 100%;
  text-align: center;  
  vertical-align: middle;
  line-height: 90px;
  background: #fff;
  font-family: 'Open Sans', 'Helvetica Nueue', Helvetica, Arial, sans-serif;
  font-size: 2.2rem;
}

.reg-item-1, .reg-item-2 {
  color: #0077ff;
}

section.register:hover .reg-item-1 {
   font-size: 20px; 
   color: #ffffff;
}

section.register:hover .reg-item-2 {
   font-size: 40px;
}

section.register:hover .reg-id {
   background:  #0077ff;
}


footer {
  font-family: 'Open Sans', 'Helvetica Nueue', Helvetica, Arial, sans-serif;
  min-height: 200px;
  
  width: 100%;
  background: #0059bf;
  margin-top: 100px;
}

footer div{
  text-align: center;
  color:  #f7f8f9;
  font-weight: 400;
}

footer p {
  font-size: 1.8rem;
}

footer button {
  margin-top: 20px;
}

footer p.author {
  font-style: italic;
  font-size: 1.0em;
}


/*section.register.hover {

  -webkit-transform: scale(1.1) ;
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
*/
/*section:hover div {
  background-color: #809fff;
  color: #fff;
  
}
*/





